.padded {
  min-width: 400px;
  position: relative;
}

.down {
  position: absolute;
  top: 500px;
  left: 0;
  min-width: 400px;
}

.text-blue {
  color: blue;
}

.cog {
  height: 18px;
  width: 18px;
}