@import '../base';

.app-home {
  padding: 10px;
  display: flex;
}

.screen-1 {
  height: 800px;
  width: 800px;
}

.padded {
  padding: 20px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}
