.item {
  display: flex;
  align-items: center;
}

.item-visual {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 6px;
}

.item-name {
  font-weight: bold;
}

.item-style {
  color: #ccc;
}
